*{
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin: 0;
    top: 0;
}

.menu ul{
    display: flex;
    margin-right: 4rem;
}

.menu .Three{
    
    border-style: solid black;
}

header nav li{
    list-style: none;
    margin-left: 8rem;
    
}

header nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    
}

header nav li .Three{
    border-style: solid;
    
    
}

#One{
    background-image: url(img/LotusTwo.jpg);
    padding: 18rem 4rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    font-size: 2em;
    margin: -7.5rem 0.8rem ;
}

#One hr{
    width: 10rem;
    
}

#Two{
    background-color: rgba(128, 128, 128, 0.25);
    padding: 18rem 4rem;
    margin-top: 8.5rem;
}

#Two hr{
    width: 10rem;
}

#Two h2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: -40px;
}

#Two div{
    width: 20rem;
    height: 11rem;
    display: flex;
    padding: 5px;
    
}

#Two .A{
    display: block;
    
}

#Two .A p{
    background-color: white;
    margin-top: -7px;
    
}

#Two .B{
    display: block;
}

#Two .C{
    display: block;
}


#Three{
    display: flex;
}


#Four{
    background-color: rgba(128, 128, 128, 0.25);
    padding: 7rem 9rem;
}



footer{
    padding: 2rem;
    display: flex;
    
}

footer .B {
    display: flex;
    gap: 8rem;
}

footer .B li{
    list-style: none;

}

footer .B a{
    text-decoration: none;
    color: black;
}