/*declaração GLOBAL, ou seja, reflete na página toda como um padrão*/
*{
margin: 0;
padding: 0;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Inicio do HEADER - cabeçalho*/
header{
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    margin: 0;
    top: 0;
}

.menu ul{
    display: flex;
    margin-right: 4rem;
}

.menu .Three {
    padding: 5px 5px;
    border: solid;
}

header nav li{
    list-style: none;
    margin-left: 8rem;
}

header nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}



/*inicio da sessão ONE - primeira parte da landingPage*/
#One{
    background-image: url(img/LotusTwo.jpg);
    padding: 18rem;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    text-align: center;
    font-size: 2em;
    margin-top: -7.5rem;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 1rem;
}

#One hr{
    width: 5rem;
    height: 4px;
    background-color: rgba(128, 128, 128, 0.749);
    margin: 20px auto;
}

/*inicio da sessão TWO - segunda parte da landingPage*/
#Two{
    text-align: center;
    padding: 7rem;
    background-color: rgba(128, 128, 128, 0.25);
}

#Two hr{
    width: 5rem;
    height: 4px;
    background-color: rgba(128, 128, 128, 0.749);
    margin: 20px auto;

}

#pai{
    display: flex;
    justify-content: center;
    height: 60vh;
    margin-top: 3rem;
    gap: 25px;
}

#pai hr{
    width: 35px;
    height: 0.3vh;
    margin: 0 auto;
    background-color: rgba(128, 128, 128, 0.749);;
    margin-top: 3rem;
}

#pai p{
    margin-top: 2.5rem;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

#pai div{
    background-color: white;
    width: 20rem;
    height:28rem;
    box-shadow: 6px 6px 10px black;
}

#pai div img{
    width: 100%;
    height: 60%;
}

/*inicio da sessão THREE - terceira parte da landingPage*/
#Three{
    display: flex;
}

#Three #texto{
    padding: 8rem;
    font-size: 1.4rem;
}

#Three #texto h3{
    margin-bottom: 30px;
    text-align: center;
}

#Three #texto hr{
    width: 5rem;
    height: 4px;
    background-color: rgba(128, 128, 128, 0.749);
    margin: 15px auto;
}


#Three #texto p{
    text-align: justify;
    
}

/*inicio da sessão FOUR - quarta parte da landingPage*/
#Four{
    background-color: rgba(128, 128, 128, 0.25);
    padding: 7rem 9rem;
    text-align: center;
}


#Four h2{
    margin-bottom: 20px;
    margin-top: -20px;
}

#Four h3{
    margin-bottom: 20px;
    
}

#Four input{
    width: 25rem;
    height: 3rem;
    margin-left: 15px;
    background-color: rgb(232, 229, 229);
    border-color: white;
    
}

#Four ::placeholder{
    margin-left: 10rem;
}

#Four button{
    margin-top: 20px;
    width: 13rem;
    height: 3rem;
    background-color: rgba(153, 153, 153, 0.012);
    
}


/*FOOTER - rodapé*/
footer{
    display: flex;
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
    
}

footer .redeSocial{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

footer .menu {
    display: flex;
    gap: 1rem;
}

footer .menu li{
    list-style: none;

}

footer .menu a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}